
.vue-app {
    width: 1200px;
    margin: 60px auto;
    text-align: center;
    .container {
        position: relative;
        height: 200px;
        width: 400px;
        margin: 0 auto;
        background: yellow;
        .absolute-center,
        .absolute-left,
        .absolute-overflow {
            height: 100px;
            width: 100px;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: purple;
            margin: auto;
        }

        .absolute-left {
            right: 50px;
        }

        .absolute-overflow {
            width: 500px;
        }
    }
}