.vue-app {
  width: 1200px;
  margin: 60px auto;
  text-align: center; }
  .vue-app .example-container {
    width: 100%;
    height: auto;
    border: 2px solid #eee;
    padding: 20px; }
    .vue-app .example-container .explaination {
      display: inline-block;
      width: 500px;
      vertical-align: top;
      text-align: left;
      line-height: 25px;
      padding-right: 20px;
      height: 200px;
      border-right: 1px solid #ccc;
      margin: 0; }
    .vue-app .example-container .example {
      display: inline-block;
      vertical-align: top;
      left: 20px; }
  .vue-app .example {
    position: relative;
    height: 200px;
    width: 400px;
    margin: 0 auto;
    background: yellow;
    text-align: left; }
    .vue-app .example .absolute-position {
      position: absolute;
      background: purple; }
    .vue-app .example .absolute-width-auto,
    .vue-app .example .absolute-center,
    .vue-app .example .absolute-left,
    .vue-app .example .absolute-right,
    .vue-app .example .absolute-overflow,
    .vue-app .example .absolute-fit {
      height: 100px;
      width: 100px;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: purple;
      margin: auto; }
    .vue-app .example .absolute-left {
      right: 50px; }
    .vue-app .example .absolute-right {
      right: -50px; }
    .vue-app .example .absolute-overflow {
      width: 500px; }
    .vue-app .example .absolute-fit {
      left: auto;
      right: 20px;
      width: auto; }
    .vue-app .example .absolute-width-auto {
      width: auto;
      left: 20px;
      right: 20px; }
